
.webwiskee .about-content * {
    z-index: 1
}
.webwiskee .project-content {	
	background-color: #d55c21;
	font-family: 'Montserrat'
}
.webwiskee h2, .webwiskee h1 {
	font-family: 'Norwester';
	color: white;
	text-shadow: 1px 3px 2px #343a42;
	text-transform: uppercase;
}

.webwiskee img {
	max-width: 10vw
}
@media (max-width: 991px){
	.webwiskee img {
		max-width: max(5rem, 35%)
	}
}
.webwiskee .btn-primary {
	border: none;
	background-color: #344860;
	border-radius: 0px;
	color: white;
	transition: 0.3s;
	padding: 0.75rem 1rem 0.75rem 1rem;
    font-style: unset;
	border: 3px solid #344860
}
.webwiskee .btn-primary:hover {
	background-color: white;
	color: #344860
}
.webwiskee .watermark {
	position: absolute;
	right: -11%;
	bottom: -11%;
	width: 20rem;
	max-width: unset
}
.webwiskee .about-content .watermark {
    position: absolute;
	left: -21%;
	bottom: -21%;
	width: 30rem;
	max-width: unset;
    z-index: 0
}

.webwiskee li:before {
	color: #344860; 
}

.webwiskee .about-content p, .webwiskee .about-content li {
	font-size: 1rem
}

.webwiskee ::selection, .webwiskee ::-moz-selection {
	background: #344860f1;
	color: #fff
}
body.webwiskee {
	background-color: #fff;
	font-family: 'Montserrat';
	color: white;
	background-image: url("../images/broken-noise.png");
}
.webwiskee h1 {
	color: #fff;
    font-family: "Norwester"
}
.webwiskee a:not(.icon, .btn) {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    margin-right: auto;
    font-weight: 700
}
.webwiskee a:not(.icon, .btn):hover {
    border-bottom: 3px solid #344860
}
.webwiskee .about-content h3 {
	color: #f9d9ac
}
.webwiskee .icon {
	fill: #fff;
	transition: 0.3s;
	height: 3rem;
	width: 3rem;
	padding-right: 1rem;
}
.webwiskee .icon:hover {
	fill: #344860
}
.webwiskee .about-content {
	background-color: #d55c21;
    font-weight: 800
}

.webwiskee .overlay {
    background-color: rgb(52,72,96, 0.6)
}

.webwiskee #contact .modal-dialog {
	transform: translateY(-50%) !important;
	top: 50%
}

.webwiskee #contact .modal-content {
	background-color: white;
	color: #232247;
	padding: 1.3rem;
	border-radius: 20px
}
.webwiskee #contact h5 {
	font-family: "Norwester";
	color: #232247;
	text-transform: uppercase;
	font-size: 1.6rem
}

.webwiskee #contact input, .webwiskee #contact textarea {
	background-color: #f3f3f3;
	border: none;
	color: #232247;
	transition: 0.3s;
}
.webwiskee #contact input:focus, .webwiskee #contact textarea:focus {
	box-shadow: 0 0 0 .15rem #d55c21;
}
.webwiskee #contact .close-modal {
	cursor: pointer;
	fill: #d55c21;
	transition: 0.3s;
}
.webwiskee #contact .close-modal:hover {
	cursor: pointer;
	fill: #232247;
}
.webwiskee #contact .btn-primary {
	background-color: #d55c21;
	border: 3px solid #d55c21
}
.webwiskee #contact .btn-primary:hover {
	background-color: white;
	color: #232247
}