
.wettex-usa .project-content {	
	background-color: white;
	font-family: 'Work Sans';
	color: #00287D
}
.wettex-usa h2 {
	font-family: 'Work Sans';
	color: #00287D;
	font-weight: 600;
	line-height: 1;

}
.wettex-usa .yellow {
	color: #FFCD00
}
.wettex-usa .btn-primary {
	background-color: #FFCD00;
	color: #00287D;
	border-radius: 50px;
	border: 3px solid #FFCD00;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Roboto';
	padding: 0.75rem 1rem 0.75rem 1rem;
    font-style: unset;
}
.wettex-usa .btn-primary:hover {
    background-color: #FFCD00;
	border: 3px solid #00287D;
}
.wettex-usa img {
	max-width: 12vw;
}
@media (max-width: 991px){
	.wettex-usa img {
		max-width: max(5rem, 35%)
	}
	.wettex-usa img.logo {
		height: auto
	}
}

.wettex-usa ::selection, .wettex-usa ::-moz-selection {
	background: #FFCD00;
	color: #00287D
}
body.wettex-usa {
	background-color: #DBEDFB;
	font-family: 'Work Sans';
	color: #00287D;
}
.wettex-usa h1, .home .wettex-usa h2 {
	color: #00287D;
    font-family: "Work Sans";
    font-weight: 600
}
.wettex-usa h2 {
    color: #fff
}
.wettex-usa a:not(.icon, .btn) {
    text-decoration: none;
    color: #FFCD00;
    transition: 0.3s;
    margin-right: auto;
    border-bottom: 3px solid transparent;
}
.wettex-usa a:not(.icon, .btn):hover {
    border-bottom: 3px solid #00287D;
}
.wettex-usa .icon {
	fill: #00287D;
	transition: 0.3s;
	height: 3rem;
	width: 3rem;
	padding-right: 1rem;
}
.wettex-usa .icon:hover {
	fill: #FFCD00
}
.wettex-usa .about-content {
	background-color: #fff;
    font-weight: 400;
	color: #676869;
	font-weight: 300;
}
.wettex-usa p {
	font-weight: 400
}
.back-to-home {
	font-weight: 600
}
.wettex-usa .overlay {
    background-color: rgba(0, 15, 48, 0.6)
}

.wettex-usa #contact .modal-dialog {
	transform: translateY(-50%) !important;
	top: 50%
}

.wettex-usa #contact .modal-content {
	background-color: white;
	color: #00287D;
	padding: 1.3rem;
	border-radius: 20px
}
.wettex-usa #contact h5, .wettex-usa #contact h5 span {
	font-family: "Work Sans";
	font-size: 1.6rem;
	font-weight: 600
}
.wettex-usa #contact h5 {
	color: #00287D;
}

.wettex-usa #contact input, .wettex-usa #contact textarea {
	background-color: #f3f3f3;
	border: none;
	color: #00287D;
	transition: 0.3s;
}
.wettex-usa #contact *::placeholder {
	color: #94a6cc
}
.wettex-usa #contact input:focus, .wettex-usa #contact textarea:focus {
	box-shadow: 0 0 0 .15rem #FFCD00;
}
.wettex-usa #contact .close-modal {
	cursor: pointer;
	fill: #00287D;
	transition: 0.3s;
}
.wettex-usa #contact .close-modal:hover {
	cursor: pointer;
	fill: #FFCD00;
}
