@import url("./fonts.css");
@import url("./bootstrap/bootstrap.min.css");
@import url("./animate.min.css");

body {
	height: 100%;
}
.btn {
	border: none;
	margin-right: auto;
}
.btn:focus {
	box-shadow: none
}

h1 {
	font-weight: 800;
	font-size: 3rem;
}

p, li {
	font-weight: 600
}

ul {
	margin: 0;
	padding: 0;
	list-style: none; /* Remove default bullets */
}

ul li {
	margin-bottom: 5px
}
ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
	margin-top: -1px;
	position: absolute;
}

.projects {
	position: relative
}
.project-content {
	padding: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.project-description {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: end;
	z-index: 1;
}

.project-container {
	position: relative;
}

img {
	padding-bottom: 1.5rem
}
@media (max-width: 991px){
	img.logo {
		padding-bottom: 1.5rem;
		height: 8rem;
		width: auto;
		max-width: 100% !important;
		margin-right: auto;
	}
}

.project-content, .project-container, .about-content {
	height: 100%;
	border-radius: 20px;
}
.overlay {
	border-radius: 20px;
}

.about-content {
	display: flex;
	flex-direction: column;
	position: relative;
	line-height: 2;
	font-size: 1.2rem
}
.icons {
	display: flex;
	height: 100%;
	align-items: end;
}

/* this styles the text when aspect ratio is between 8/5 and 3/2 */
@media (min-width: 992px) {
	.projects * {
		font-size: min(1.5vw, 1.6vh);
	  }
	h1, h2, h1 span, h2 span {
		font-size: min(2vw, 4vh);
	}
}
@media (min-aspect-ratio: 8/5) {
	.projects * {
	  font-size: min(1.5vw, 1.6vh);
	}
	.projects h1, .projects h2, .projects h1 span, .projects h2 span {
		font-size: min(2vw, 3.7vh);
	}
}
@media (max-aspect-ratio: 3/2) {
	.projects * {
	  font-size: min(1vw, 1.4vh);
	}
	.projects h1, .projects h2, .projects h1 span, .projects h2 span {
		font-size: 2.5rem
	}
}
@media (max-width: 992px){
	.projects * {
		font-size: 1rem;
	  }
	.projects h1, .projects h2, .projects h1 span, .projects h2 span {
		  font-size: 2.5rem;
	}
	.about-content p, .about-content li {
		font-size: 1rem !important
	}
}




img::selection, img::-moz-selection {
	background: none !important;
}
.home ::selection, .home ::-moz-selection {
	background: #FFF59A;
	color: #010028
}
body.home {
	background-color: #03004b;
	font-family: 'Josefin Sans';
	color: white;
	background-color: #03004b;
	z-index: 0;
	font-size: 0.8vw
}
@media (max-width: 991px){
	body.home {
		font-size: 2vh
	}
}
.home h1 {
	color: #fff;
	font-size: 2.7rem;
}
.home li:before {
	color: #FFF59A;
}
.home .about-content p, .home .about-content li {
	font-size: 1.2rem
}
.home .about-content h3 {
	color: #FFF59A
}
.home .btn-primary {
	background-color: #FFF59A;
	color: #010028;
	font-style: italic;
	border-radius: 2px;
	transition: 0.3s;
}
.home .about-content .btn {
	font-size: 1.3rem;
}
.home .btn-primary:hover {
	background-color: white;
}
.home .icon {
	fill: #FFF59A;
	transition: 0.3s;
	height: 3rem;
	width: 3rem;
	padding-right: 1rem;
}
.home .icon:hover {
	fill: white
}
.home .about-content {
	background-color: #010028;
}

@media (max-width: 991px){
	.projects row {
		padding-bottom: 2rem
	}
}


.gallery-item {
	background-size:cover;
	height: 100%;
	border-radius: 20px !important;
	background-position: top;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
.gallery-item .overlay {
	position: absolute;
	top: 0;
	left:0;
	height: 100%;
	width:100%;
	background-color: rgba(0,0,0,0.5)
}
.gallery-item h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem !important;
	text-align: center
}
.lightbox .modal-dialog {
	width: 100%;
	margin: 0;
	max-width: unset;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem
}
.lightbox .modal-dialog img {
	max-width: unset !important;
	width: 70%
}
.before-banner {
	position: absolute;
	transform: rotate(-45deg);
	left: -2.5rem;
	top: 1.3rem;
	font-size: 1.5rem;
	padding: 0rem 3rem 0rem 3rem;
	z-index: 1
}


#contact .modal-dialog {
	transform: translateY(-50%) !important;
	top: 50%
}

#contact .modal-content {
	background-color: #010028;
	padding: 1.3rem;
	border-radius: 20px
}
.modal-header, .modal-footer {
	border: none
}
#contact input, #contact textarea {
	background-color: #232247;
	border: none;
	color: white
}
#contact input:focus, #contact textarea:focus {
	box-shadow: 0 0 0 .15rem #FFF59A;
}
#contact .close-modal {
	cursor: pointer;
	fill: #FFF59A;
	transition: 0.3s;
}
#contact .close-modal:hover {
	cursor: pointer;
	fill: #fff;
}
